# Build
build/

# Binários e objetos
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll
*.pdb
*.ilk
*.exp

# VS Code (por-máquina)
.vscode/settings.json
.vscode/ipch/
.vscode/.browse.*.db*

# Windows
Thumbs.db
desktop.ini
